/* General setup */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif:wght@400;700&family=Open+Sans:wght@400;700&display=swap');


* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Serif', serif;
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
h1, h2, h3 {
  font-family: 'Open Sans', sans-serif; /* Fallback for browsers without the font */
}
